<div class='router'>
    <div class='router-title'>CDP CREATOR</div>
    <div class='router-content'>
        <div fxFlex='50'>Wallet Balances</div>
        <div fxFlex='50'>Account: 0x1dCgjgdl304m4ncdsfk3kkjkjkjfjddkjkdjkjdsdskj</div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8 wallet">

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>

            <!-- ETH Column -->
            <ng-container matColumnDef="eth">
                <mat-header-cell *matHeaderCellDef> ETH </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.eth}} </mat-cell>
            </ng-container>

            <!-- WETH Column -->
            <ng-container matColumnDef="weth">
                <mat-header-cell *matHeaderCellDef> WETH </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weth}} </mat-cell>
            </ng-container>

            <!-- DAI Column -->
            <ng-container matColumnDef="dai">
                <mat-header-cell *matHeaderCellDef> DAI </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dai}} </mat-cell>
            </ng-container>

            <!-- USD EQUIVALENT Column -->
            <ng-container matColumnDef="usdequiv">
                <mat-header-cell *matHeaderCellDef> USD EQUIV </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.usdequiv}} </mat-cell>
            </ng-container>

            <!-- CDPS Open Column -->
            <ng-container matColumnDef="cdpsopen">
                <mat-header-cell *matHeaderCellDef> CDP'S OPEN </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cdpsopen}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
        </mat-table>
    </div>
</div>