<div class='dashboard-wrapper'>

    <mat-toolbar>
        <h1>CDP CREATOR</h1>
    </mat-toolbar>

    <div fxLayout='row' fxLayoutAlign='start center' fxLayout.lt-md="column">
        <mat-toolbar>
            <h2>Wallet Balances</h2>
        </mat-toolbar>
        <mat-toolbar>
            <h2>Account: 0x1dCgjgdl304m4ncdsfk3kkjkjkjfjddkjkdjkjdsdskj</h2>
        </mat-toolbar>
    </div>

    <div class='dashboard-table' fxShow='' fxHide.lt-md='true'>
        <mat-table [dataSource]="dataSource" class='wallet'>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="eth">
                <mat-header-cell *matHeaderCellDef> ETH </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.eth}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="weth">
                <mat-header-cell *matHeaderCellDef> WETH </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weth}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dai">
                <mat-header-cell *matHeaderCellDef> DAI </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dai}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="usdequiv">
                <mat-header-cell *matHeaderCellDef> USD EQUIV </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.usdequiv}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cdpsopen">
                <mat-header-cell *matHeaderCellDef> CDP'S OPEN </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cdpsopen}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <mat-toolbar>
        <h2>Leverage Multiplier</h2>
    </mat-toolbar>

    <div class='leverage-wrapper' fxLayout='row' fxLayout.lt-md='column' fxLayoutGap.lt-md='20px'>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>ETH to Lend</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Leverage Multiplier</div>
                <div fxLayout='column' fxLayoutAlign='space-evenly center' fxLayoutGap='5px'>
                    <mat-slider class='leverage-slider' min="1.5" max="2.5" step="0.1" value="2" thumbLabel="true"></mat-slider>
                    <div class='leverage-slider-numbers' fxFill='' fxLayout='row' fxLayoutAlign='space-between center'>
                        <div>1.5x</div>
                        <div>2.0x</div>
                        <div>2.5x</div>
                    </div>
                </div>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Total ETH Leveraged</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
        </div>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Liquidation Price</div>
                <form>
                    <input class='leverage-input' placeholder="$187.51">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Estimated Tx Costs</div>
                <form>
                    <input class='leverage-input' placeholder="$3.41">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Safety Margin</div>
                <form>
                    <input class='leverage-input' placeholder='9%'>
                </form>
            </div>
        </div>
    </div>

    <mat-toolbar>
        <h2>Leverage Multiplier</h2>
    </mat-toolbar>

    <div class='leverage-wrapper' fxLayout='row' fxLayout.lt-md='column' fxLayoutGap.lt-md='20px'>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>ETH to Lend</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Leverage Multiplier</div>
                <div fxLayout='column' fxLayoutAlign='space-evenly center' fxLayoutGap='5px'>
                    <mat-slider class='leverage-slider' min="1.5" max="2.5" step="0.1" value="2" thumbLabel="true"></mat-slider>
                    <div class='leverage-slider-numbers' fxFill='' fxLayout='row' fxLayoutAlign='space-between center'>
                        <div>1.5x</div>
                        <div>2.0x</div>
                        <div>2.5x</div>
                    </div>
                </div>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Total ETH Leveraged</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
        </div>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Liquidation Price</div>
                <form>
                    <input class='leverage-input' placeholder="$187.51">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Estimated Tx Costs</div>
                <form>
                    <input class='leverage-input' placeholder="$3.41">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Safety Margin</div>
                <form>
                    <input class='leverage-input' placeholder='9%'>
                </form>
            </div>
        </div>
    </div>

    <mat-toolbar>
        <h2>Leverage Multiplier</h2>
    </mat-toolbar>

    <div class='leverage-wrapper' fxLayout='row' fxLayout.lt-md='column' fxLayoutGap.lt-md='20px'>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>ETH to Lend</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Leverage Multiplier</div>
                <div fxLayout='column' fxLayoutAlign='space-evenly center' fxLayoutGap='5px'>
                    <mat-slider class='leverage-slider' min="1.5" max="2.5" step="0.1" value="2" thumbLabel="true"></mat-slider>
                    <div class='leverage-slider-numbers' fxFill='' fxLayout='row' fxLayoutAlign='space-between center'>
                        <div>1.5x</div>
                        <div>2.0x</div>
                        <div>2.5x</div>
                    </div>
                </div>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Total ETH Leveraged</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
        </div>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Liquidation Price</div>
                <form>
                    <input class='leverage-input' placeholder="$187.51">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Estimated Tx Costs</div>
                <form>
                    <input class='leverage-input' placeholder="$3.41">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Safety Margin</div>
                <form>
                    <input class='leverage-input' placeholder='9%'>
                </form>
            </div>
        </div>
    </div>

    <mat-toolbar>
        <h2>Leverage Multiplier</h2>
    </mat-toolbar>

    <div class='leverage-wrapper' fxLayout='row' fxLayout.lt-md='column' fxLayoutGap.lt-md='20px'>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>ETH to Lend</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Leverage Multiplier</div>
                <div fxLayout='column' fxLayoutAlign='space-evenly center' fxLayoutGap='5px'>
                    <mat-slider class='leverage-slider' min="1.5" max="2.5" step="0.1" value="2" thumbLabel="true"></mat-slider>
                    <div class='leverage-slider-numbers' fxFill='' fxLayout='row' fxLayoutAlign='space-between center'>
                        <div>1.5x</div>
                        <div>2.0x</div>
                        <div>2.5x</div>
                    </div>
                </div>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Total ETH Leveraged</div>
                <form>
                    <input class='leverage-input' placeholder="10">
                </form>
            </div>
        </div>

        <div class='leverage-content' fxLayout='column' fxLayoutGap='20px'>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Liquidation Price</div>
                <form>
                    <input class='leverage-input' placeholder="$187.51">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Estimated Tx Costs</div>
                <form>
                    <input class='leverage-input' placeholder="$3.41">
                </form>
            </div>
            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
                <div fxFlex='0 0 100px'>Safety Margin</div>
                <form>
                    <input class='leverage-input' placeholder='9%'>
                </form>
            </div>
        </div>
    </div>


</div>