<div class='pre-header' [@headerScroll]='headerState'></div>
<div class="header">
  <div class='inner'>
    <div class='brand' [@lightningStrike]='lightningState'>
      <i id='flash_on' class='material-icons ico-big'>flash_on</i>
    </div>
    <div class='links-tray'>
      <div class='link'><i class="material-icons ico-big" [@glowLinks]='headerState'>terrain</i></div>
      <div class='link'><a href="http://example.com" [@glowLinks]='headerState'>DASHBOARD</a></div>
      <div class='link'><a href="http://example.com" [@glowLinks]='headerState'>FAQ</a></div>
      <button mat-button='mat-button' [@glowLinks]='headerState'>
        SIGN-UP
      </button>
    </div>
  </div>
</div>