<div class='pre-header' [@headerScroll]='headerState'></div>
<div class="header">
  <div class='inner'>
    <div class='brand' [@lightningStrike]='lightningState'>
      <i id='flash-on' class='material-icons ico-big'>flash_on</i>
    </div>
    <div class='links-tray' fxShow fxHide.lt-md='true'>
      <div class='link'><i class="material-icons ico-big" [@glowLinks]='headerState'>terrain</i></div>
      <div class='link' routerLink='.' [@glowLinks]='headerState'>DASHBOARD</div>
      <div class='link' routerLink='.' [@glowLinks]='headerState'>FAQ</div>
      <button id="sign-up" mat-stroked-button routerLink='.' [@glowLinks]='headerState'>
        SIGN-UP
      </button>
    </div>
    <button id="mobile-menu" mat-button routerLink='.' fxHide fxShow.lt-md='true' [@glowLinks]='headerState'>
      <i class="material-icons">menu</i>
    </button>
  </div>
</div>