<div class="main-content" fxFlex='1 1 auto'>

  <div class="test" fxLayout="row" fxLayoutAlign="center center"></div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button="mat-button" (click)="showHide()">CLICK TO SHOW/HIDE</button>
  </div>

  <div class='container' *ngIf='currentState' @openClose @slideIn>
    <div class='content'>Something Here</div>
    <div class='content'>Something Here</div>
    <div class='content'>Something Here</div>
    <div class='content'>Something Here</div>
    <div class='content'>Something Here</div>
    <div class='content'>Something Here</div>
    <div class='content'>Something Here</div>
    <div class='content'>Something Here</div>
  </div>

</div>