<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>
<div class="test" fxLayout="row" fxLayoutAlign="center center">Something Here</div>