<div class='toolbar'>
    <div class='tool-header'>TOOLS</div>

    <mat-button-toggle-group name='tools' vertical='true' aria-label='Tools'>
        <mat-button-toggle value='dashboard'>
            <div class='tool'>
                <i class='material-icons'>flash_on</i>
                <div class='tool-title'>DASHBOARD</div>
            </div>
        </mat-button-toggle>
        <mat-button-toggle value='monitor'>
            <div class='tool'>
                <img src='./assets/mkrdao.png'>
                <div class='tool-title'>CDP MONITOR</div>
            </div>
        </mat-button-toggle>
        <mat-button-toggle value='simulator'>
            <div class='tool'>
                <img src='./assets/mkrdao.png'>
                <div class='tool-title'>CDP SIMULATOR</div>
            </div>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <!-- <div class='tool'>
        <i class='material-icons'>flash_on</i>
        <div class='tool-title'>DASHBOARD</div>
    </div>
    <div class='tool'>
        <div class='tool-image'><img src='./assets/mkrdao.png'></div>
        <div class='tool-title'>CDP MONITOR</div>
    </div>
    <div class='tool'>
        <div class='tool-image'><img src='./assets/mkrdao.png'></div>
        <div class='tool-title'>CDP SIMULATOR</div>
    </div> -->
</div>