@import '../node_modules/normalize.css/normalize.css';
@import '~@angular/material/theming';
@import '/themes/deeppurple-amber.scss';

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  body {
    display: block;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .wrapper {
      min-height: 110%;
      min-width: 100%;
      padding: 0px;
      margin: 0px;
      background-image: url(./assets/custom-orange.svg);
      background-color: blue;
      background-repeat: no-repeat;
      background-size: cover;
  }

////////////////// HEADER STYLES ///////////////////

.pre-header {
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: aqua;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 500;
  font-size: 14px;
    .inner {
      width: 60%;
      max-width: 1024px;
      height: 65px!important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px!important;
      padding-right: 20px!important;
      margin-left: auto!important;
      margin-right: auto!important;
      }
}

.brand {
  flex: 0 1 70%;
    #flash-on {
      font-size: 45px;
    }
}

.ico-big {
  font-size: 35px;
}

.links-tray {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    }

  .link {
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    text-decoration: none!important;
    }

#sign-up {
  margin-left: 15px;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgba(0,0,0,.3);
}

/////////////////// HOME STYLES ////////////////////

    .main-content {
      min-height: 100vh;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: space-evenly;
      overflow: hidden;
    }